extends layout

block content
  link(rel='stylesheet', href='/stylesheets/style.css')

  .message-container 
    .grid-container
      each message in messages 
        .card
          #image= 'INPUT IMG'
          .card-body 
            #msg-title= message.title 
            #msg-text= message.text 
            .user-info
              #posted-by Posted By <strong>#{message.user.username}</strong>
              #posted-date= message.date 
    